<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Ventas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
  <b class="btn btn-warning">Regresar</b>
  <a class="btn btn-primary">Buscar</a>
  <c class="btn btn-danger">Vender</c>
  <table class="table" border="=3">
    <thead>
    <tr>
      <th>NOMBRE</th>
      <th>CANTIDAD</th>
      <th>PRECIO</th>
      <th>TOTAL</th>
    </tr>

    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</body>
</html>